# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
*.iml
*.ipr
*.iws
#.vscode/

# OS
.DS_Store
*.swp
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# BeeWare / Briefcase
logs/
macOS/
linux/
windows/
iOS/
android/
